/*generales de la libreria swiper*/
.swiper {
    width: 100%;
    height: 30rem;
    /*padding: 5rem 1rem;*/
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  /*Encabezado*/
  h1{
    text-align: center;
  }
  .hrMain{
    text-align: center;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    height: 0.2rem;
    padding: 0.1rem;
    border-radius: 22px;
  }

  /*Productos*/
  .productos{
    display: flex;
    flex-flow: column nowrap;
  }

  main{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
  }

  .tachado{
    text-decoration:line-through;
    color: #585858;
  }

  .productoMain{
    display: flex;
    flex-flow: column nowrap;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }
  .productoMain h5{
    font-size: 0.9rem;
    height: 1.5rem;
    color: #333333;
  }

  .productoMain .imgProducto{
    height: 9rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .botonProducto{
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
    color: white;
    background-color: #000000;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
  }
  .botonProducto{
    cursor: pointer;
  }

  .precioFinal{
    font-weight: bold;
  }

  

  /*selectores laterales*/
.swiper-button-prev:after{
  color: #f8475f;
}
.swiper-button-next:after{
  color: #f8475f;
}

  @media (min-width: 765px){
    main{
      width: 70%;
    }
  }