  /*generales de la libreria swiper*/
  .swiper {
    width: 100%;
    height: 20rem;
    position: relative;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  /*imagenes de la portada*/
  .swiper-slide .imgHeader {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /*texto de las portadas*/
  .textoCarousel{
    position: absolute;
    color: #ffffff;
    text-align: initial;
    padding-left: 5%;
    background-color: rgb(0, 0, 0);
    opacity: .6;
  }

  .textoCarousel p{
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
  }

  .textoCarousel h5{
    font-size: 2rem;
    margin-top: 0;
  }


  /*paginacion*/
  .swiper-pagination-bullet{
    background-color: #bdbdbd;
  }

  .swiper-pagination-bullet-active{
    background-color: #f8475f;
  }


  @media (min-width: 765px){
    .swiper-slide{
      background-color: #000000;
      
    }

    /*imagenes de la portada*/
    .swiper-slide img{
      width: 50%;
      margin-left: 50%;
    }

    /*texto de la portada*/
    .textoCarousel{
      padding-left: 0;
      text-align: start;
      left: 0;
      margin-left: 3rem;
      background-color: 0;
      opacity: 1;
    }
    .swiper-backface-hidden .swiper-slide{
      background-color: #000000;
    }
  }