/*general*/

.pie{
    color: #FFFFFF;
    padding: 2rem 2.5rem;
    background-color: #000000;
}

/*Informacion de contacto*/
.pie h4{
    font-size: 22px;
    margin-bottom: 1rem;
    margin-top: 0;
}

.hrFooter{
    width: 2.8rem;
    height: 0.2rem;
    margin-left: 0;
    margin-bottom: 2rem;
    background-color: #FFFFFF;
    border: none;
    padding: 0.1rem;
    border-radius: 22px;
}

.pie p{
    font-size: 15px;
}



/*Botones*/
.contenedorBotones{
    margin: 2.5rem 0 2rem;
    display: flex;
    flex-flow: column nowrap;
}

.botonPie{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    padding: 1rem 1rem 1.5rem 0;
    border-radius: 5px;
    border: 0;
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
}

.botonPie:hover{
    cursor: pointer;
}

.botonPie img{
    margin-left: 0;
    margin-right: 0.3rem;
}


/*Logos, vtex y corebiz*/
.logosPie{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.logoPie{
    color: #FFFFFF;
}

.final{
    width: 100%;
    height: 1rem;
    background-color: #c0c0c0;
}

.vtex{
    display: inline;
}

.titulovtex{
    margin-bottom: 1.1rem;
}



@media (min-width: 765px){
    /*general*/
    .pie{
        display: flex;
        flex-direction: row nowrap;
        justify-content: space-around;
        align-items: center;
    }
    /*Botones*/
    .botonPie{
        width: 17rem;
    }
}